/* .table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(200px, auto));
} */

body {
    text-align: center;
    justify-content: center;
}

img {
    height: 250px;
}

.table {
    float: left;
    width: 100%;
    padding: 2%;
}

h1 {
    text-align: center;
    line-height: 25px;
}

@media (min-width: 768px) {
    h1 {
        line-height: 32px;
    }
}

@media (min-width: 768px) {
    .table {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .table {
        width: 33.33%;
    }
}

@media (min-width: 1201px) {
    .table {
        width: 25%;
    }
}

.table {
    transition: transfrom 1s;
    margin: 0.3rem 1em;
    padding: 0.5rem 1em;
}

.table:hover img {
    transform: scale(1.2);
    transition: transform 0.5s;
}