.cart-no-text-1 {
    text-align: center;
    font-size: 30pt;
}

.box-input-1 {
    background-color: #FDD835;
    color: black;
}

.box-input-2 {
    color: white;
}

.set-padding-12 {
    padding-top: 35px;
}

.cart-no-text-2 {
    padding-left: 15px;
}