@import url("https://use.fontawesome.com/releases/v5.0.11/css/all.css");
html,
body {
    margin: 0;
    padding: 0;
}


/* xóa gạch chân textx khi click */

.textDecoration {
    text-decoration: none !important;
    color: #ab59ab;
}

.headerDescription {
    padding-top: 25px;
    background: #FF9566;
    padding-bottom: 25px;
}

.headerRow {
    margin-left: 40px;
    margin-bottom: 10px;
}

.headerTextOne {
    margin-left: 10px;
}

.shopping-cart-container {
    margin-left: 40px;
}

.icon-color-style {
    color: #12b886
}

.footer-text-margin {
    margin-top: 15px;
}

.img-margin-left-one {
    margin-left: 30px;
}


/* .headerRowDrop {
    float: right;
    margin-bottom: 20px;
    margin-right: 70px;
}
 */


/* đăng nhập/đăng kí */


/* @import url('https://fonts.googleapis.com/css?family=Raleway'); */

center .btn {
    background: #ab59ab;
}

.tab-style {
    font-size: 20px;
    width: 50%;
    background-color: #f2f2f2;
    text-align: center;
}

.nav-tabs>li>a {
    margin-right: 0px;
    color: grey;
}

.group2 {
    position: relative;
    margin-top: 16px;
}

.btn-block {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: #e5ecf4;
    color: #4a89dc;
}

.login-shadow {
    -webkit-box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
    -moz-box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
    box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
    z-index: 1;
}

.signup-shadow {
    -webkit-box-shadow: -5px 0px 6px 0px rgba(82, 82, 82, 0.52);
    -moz-box-shadow: -5px -5px 6px 0px rgba(82, 82, 82, 0.52);
    box-shadow: -5px 0px 6px 0px rgba(82, 82, 82, 0.52);
}

.modal-header {
    background-color: #e5ecf4;
}

.group {
    position: relative;
    margin-top: 30px;
}

.input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: none;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

.input:focus {
    outline: none;
}


/* Label */

.label {
    color: #757575;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: -10px;
    top: 10px;
    transition: all 0.2s ease;
}


/* active */

.input:focus~.label,
.input.used~.label {
    top: -20px;
    transform: scale(.75);
    left: -15px;
    /* font-size: 14px; */
    color: #4a89dc;
}


/* Underline */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #4a89dc;
    transition: all 0.2s ease;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}


/* active */

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}


/* Highlight */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active */

.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

@media screen and (max-width: 767px) and (min-width: 576px) {
    #myModal {
        margin-left: 20%;
        margin-right: 20%;
    }
    #forgot-password {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (min-width: 768px) {
    #myModal .modal-dialog {
        width: 500px;
    }
    #forgot-password .modal-dialog {
        width: 500px;
    }
    .modal-body {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.modal-body {
    background-color: #CAD2FF;
    background-size: cover;
    z-inedx: 4;
}

em {
    display: none;
}


/* end đăng nhập/đăng kí */


/* phần menu trang web */

.headerTextTwo {
    font-size: 33pt;
    font-family: 'Oregano', cursive;
    margin-left: 60px;
}

.headerDescriptionOne {
    padding-top: 35px;
    /*  background: #CEFAAB; */
}


/* phần dropdown */

.menu-area {
    background: #D4D8D4;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0 solid transition !important;
    border: 0 solid rgba(0, 0, 0, .15);
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.mainmenu ul li a {
    color: #ab59eb;
}

.mainmenu a,
.navbar-default .navbar-nav>li>a,
.mainmenu ul li a,
.navbar-expand-lg .navbar-nav .nav-link {
    /* color: #fff; */
    font-size: 16px;
    text-transform: capitalize;
    padding: 16px 15px;
    font-family: 'Roboto', sans-serif;
    display: block !important;
}

.mainmenu .active a,
.mainmenu .active a:focus,
.mainmenu .active a:hover,
.mainmenu li a:hover,
.mainmenu li a:focus,
.navbar-default .navbar-nav>.show>a,
.navbar-default .navbar-nav>.show>a:focus,
.navbar-default .navbar-nav>.show>a:hover {
    color: #fff;
    background: #4ff5ff;
    outline: 0;
}


/*==========Sub Menu=v==========*/

.mainmenu .collapse ul>li:hover>a {
    background: #4ff5ff;
}

.mainmenu .collapse ul ul>li:hover>a,
.navbar-default .navbar-nav .show .dropdown-menu>li>a:focus,
.navbar-default .navbar-nav .show .dropdown-menu>li>a:hover {
    background: #4ff5ff;
}

.mainmenu .collapse ul ul ul>li:hover>a {
    background: #4ff5ff;
}

.mainmenu .collapse ul ul,
.mainmenu .collapse ul ul.dropdown-menu {
    background: #FFF;
}

.mainmenu .collapse ul ul ul,
.mainmenu .collapse ul ul ul.dropdown-menu {
    background: #1E88E5
}

.mainmenu .collapse ul ul ul ul,
.mainmenu .collapse ul ul ul ul.dropdown-menu {
    background: #64B5F6
}


/******************************Drop-down menu work on hover**********************************/

.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    min-height: 20px;
    width: 100%;
    padding-top: 12px;
}

@media only screen and (min-width: 767px) {
    .mainmenu .collapse ul li:hover>ul {
        display: block
    }
    .mainmenu .collapse ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 250px;
        display: none
    }
    /*******/
    .mainmenu .collapse ul ul li {
        position: relative
    }
    .mainmenu .collapse ul ul li:hover>ul {
        display: block
    }
    .mainmenu .collapse ul ul ul {
        position: absolute;
        top: 0;
        left: 100%;
        min-width: 250px;
        display: none
    }
    /*******/
    .mainmenu .collapse ul ul ul li {
        position: relative
    }
    .mainmenu .collapse ul ul ul li:hover ul {
        display: block
    }
    .mainmenu .collapse ul ul ul ul {
        position: absolute;
        top: 0;
        left: -100%;
        min-width: 250px;
        display: none;
        z-index: 1
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu>li>a {
        padding: 16px 15px 16px 35px
    }
    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu>li>a {
        padding: 16px 15px 16px 45px
    }
}


/* end phần dropdown */


/* phần thành search */

.headerSearchBar {
    padding: 10%;
    text-align: center;
}

.headerSearchBox {
    padding-top: 17px;
}

#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    width: 100%;
    padding-right: 3px;
    padding-left: 15px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0;
}

#custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: absolute;
    right: 0;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #D9230F;
    cursor: unset;
    z-index: 2;
}

.search-query:focus {
    z-index: 0;
}


/* end phần thành search */


/* end phần menu trang web */


/* phần thân trang web */


/* phần lọc sản phẩm theo thứ tự */

.boxStyleOne {
    margin-top: 70px;
    margin-bottom: 30px;
    margin-right: 15px;
}


/*Checkboxes styles*/

label {
    position: relative;
    cursor: pointer;
    /* color: black; */
    font-size: 20px;
}

input[type="checkbox"],
input[type="radio"] {
    position: absolute;
    right: 9000px;
}

input[type="checkbox"]+.label-text:before {
    content: "\f0c8";
    font-family: "Font Awesome 5 Free";
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
}

input[type="checkbox"]:checked+.label-text:before {
    content: "\f14a";
    color: #2980b9;
    animation: effect 250ms ease-in;
    font-weight: 900;
}

input[type="checkbox"]:disabled+.label-text {
    color: #aaa;
}

input[type="checkbox"]:disabled+.label-text:before {
    content: "\f0c8";
    color: #ccc;
}

@keyframes effect {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(1.3);
    }
    75% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

.boxStyleTwo {
    margin-top: 35px;
}


/* end phần lọc sản phẩm theo thứ tự */


/* chọn số lượng sản phẩm */

.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}

.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
}

.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}

.minus:hover {
    background-color: #717fe0 !important;
}

.plus:hover {
    background-color: #717fe0 !important;
}

.qty span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.qty input {
    border: 0;
    width: 2%;
}

nput::-webkit-outer-spin-button,
.qty input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.qty input:disabled {
    background-color: white;
}


/* end chọn số lượng sản phẩm */


/* phần show sản phẩm */

.product-grid4,
.product-grid4 .product-image4 {
    position: relative
}

.product-grid4 {
    font-family: Poppins, sans-serif;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    transition: all .3s ease 0s
}

.product-grid4:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}

.product-grid4 .product-image4 a {
    display: block
}

.product-grid4 .product-image4 img {
    width: 100%;
    height: auto
}

.product-grid4 .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}

.product-grid4:hover .pic-1 {
    opacity: 0
}

.product-grid4 .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out 0s
}

.product-grid4:hover .pic-2 {
    opacity: 1
}

.product-grid4 .social {
    width: 180px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease 0s
}

.product-grid4 .social li {
    display: inline-block;
    opacity: 0;
    transition: all .7s
}

.product-grid4 .social li:nth-child(1) {
    transition-delay: .15s
}

.product-grid4 .social li:nth-child(2) {
    transition-delay: .3s
}

.product-grid4 .social li:nth-child(3) {
    transition-delay: .45s
}

.product-grid4:hover .social li {
    opacity: 1
}

.product-grid4 .social li a {
    color: #222;
    background: #fff;
    font-size: 17px;
    line-height: 36px;
    width: 40px;
    height: 36px;
    border-radius: 2px;
    margin: 0 5px;
    display: block;
    transition: all .3s ease 0s
}

.product-grid4 .social li a:hover {
    color: #fff;
    background: #16a085
}

.product-grid4 .social li a:after,
.product-grid4 .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 20px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.product-grid4 .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1
}

.product-grid4 .social li a:hover:after,
.product-grid4 .social li a:hover:before {
    opacity: 1
}

.product-grid4 .product-discount-label,
.product-grid4 .product-new-label {
    color: #fff;
    background-color: #16a085;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 45px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 15px;
    transition: all .3s
}

.product-grid4 .product-discount-label {
    left: auto;
    right: 10px;
    background-color: #d7292a
}

.product-grid4:hover .product-new-label {
    opacity: 0
}

.product-grid4 .product-content {
    padding: 25px
}

.product-grid4 .title {
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 7px;
    transition: all .3s ease 0s
}

.product-grid4 .title a {
    color: #222
}

.product-grid4 .title a:hover {
    color: #16a085
}

.product-grid4 .price {
    color: #16a085;
    font-size: 17px;
    font-weight: 700;
    margin: 0 2px 15px 0;
    display: block
}

.product-grid4 .price span {
    color: #909090;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: line-through;
    text-align: left;
    vertical-align: middle;
    display: inline-block
}

.product-grid4 .add-to-cart {
    border: 1px solid #e5e5e5;
    display: inline-block;
    padding: 10px 20px;
    color: #888;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    transition: all .3s
}

.product-grid4:hover .add-to-cart {
    border: 1px solid transparent;
    background: #16a085;
    color: #fff
}

.product-grid4 .add-to-cart:hover {
    background-color: #505050;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

@media only screen and (max-width:990px) {
    .product-grid4 {
        margin-bottom: 30px
    }
}

.addToCartStyle {
    color: #222;
    background: #fff;
    font-size: 17px;
    line-height: 36px;
    width: 40px;
    height: 36px;
    border-radius: 2px;
    margin: 0 5px;
    display: block;
    transition: all .3s ease 0s
}

.addToCartStyle:hover {
    background-color: #16a085
}

.cart-counter {
    display: inline-block;
}


/* end phần show sản phẩm */


/* end phần thân trang web */


/* footer */

.imgInfo {
    max-width: 30px;
}

.boxStyleThree {
    margin-top: 35px;
}

.footerStyle {
    margin-top: 10px;
}

.boxStyleFour {
    margin-top: 50px;
}


/* end footer */

@import 'https://fonts.googleapis.com/css?family=Noto+Sans';
* {
    box-sizing: border-box;
}

.floating-chat {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    transform: translateY(70px);
    transition: all 250ms ease-out;
    border-radius: 50%;
    opacity: 0;
    background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #FF9566 75%, #FF9566 100%);
    background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #FF9566 75%, #FF9566 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.floating-chat.enter:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    opacity: 1;
}

.floating-chat.enter {
    transform: translateY(0);
    opacity: 0.6;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.14);
}

.floating-chat.expand {
    width: 250px;
    max-height: 400px;
    height: 400px;
    border-radius: 5px;
    cursor: auto;
    opacity: 1;
}

.floating-chat :focus {
    outline: 0;
    box-shadow: 0 0 3pt 2pt rgba(14, 200, 121, 0.3);
}

.floating-chat button {
    background: transparent;
    border: 0;
    color: black;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}

.floating-chat .chat {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    transition: all 250ms ease-out;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.floating-chat .chat.enter {
    opacity: 1;
    border-radius: 0;
    margin: 10px;
    width: auto;
    height: auto;
}

.floating-chat .chat .header {
    flex-shrink: 0;
    padding-bottom: 10px;
    display: flex;
    background: transparent;
}

.floating-chat .chat .header .title {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 5px;
}

.floating-chat .chat .header button {
    flex-shrink: 0;
}

.floating-chat .chat .messages {
    padding: 10px;
    margin: 0;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    border-radius: 4px;
    background: transparent;
}

.floating-chat .chat .messages::-webkit-scrollbar {
    width: 5px;
}

.floating-chat .chat .messages::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.1);
}

.floating-chat .chat .messages::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.2);
}

.floating-chat .chat .messages li {
    position: relative;
    clear: both;
    display: inline-block;
    padding: 14px;
    margin: 0 0 20px 0;
    font: 12px/16px "Noto Sans", sans-serif;
    border-radius: 10px;
    background-color: rgba(25, 147, 147, 0.2);
    word-wrap: break-word;
    max-width: 81%;
}

.floating-chat .chat .messages li:before {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    content: "";
    background-size: cover;
}

.floating-chat .chat .messages li:after {
    position: absolute;
    top: 10px;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid rgba(25, 147, 147, 0.2);
}

.floating-chat .chat .messages li.other {
    animation: show-chat-odd 0.15s 1 ease-in;
    -moz-animation: show-chat-odd 0.15s 1 ease-in;
    -webkit-animation: show-chat-odd 0.15s 1 ease-in;
    float: right;
    margin-right: 45px;
    color: black;
}

.floating-chat .chat .messages li.other:before {
    right: -45px;
    background-image: url(../img/anh4.jpeg);
}

.floating-chat .chat .messages li.other:after {
    border-right: 10px solid transparent;
    right: -10px;
}

.floating-chat .chat .messages li.self {
    animation: show-chat-even 0.15s 1 ease-in;
    -moz-animation: show-chat-even 0.15s 1 ease-in;
    -webkit-animation: show-chat-even 0.15s 1 ease-in;
    float: left;
    margin-left: 45px;
    color: #e5f8ff;
}

.floating-chat .chat .messages li.self:before {
    left: -45px;
    background-image: url(../img/anh5.jpeg);
}

.floating-chat .chat .messages li.self:after {
    border-left: 10px solid transparent;
    left: -10px;
}

.floating-chat .chat .footer {
    flex-shrink: 0;
    display: flex;
    padding-top: 10px;
    max-height: 90px;
    background: transparent;
}

.floating-chat .chat .footer .text-box {
    border-radius: 3px;
    background: rgba(25, 147, 147, 0.2);
    min-height: 100%;
    width: 100%;
    margin-right: 5px;
    color: white;
    overflow-y: auto;
    padding: 2px 5px;
}

.floating-chat .chat .footer .text-box::-webkit-scrollbar {
    width: 5px;
}

.floating-chat .chat .footer .text-box::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.1);
}

.floating-chat .chat .footer .text-box::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.2);
}

@keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}

@-moz-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}

@-moz-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}

@-webkit-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}


/*# sourceMappingURL=sass.css.map */